body{
    background: #d2d2c1 url('/img/fundo.png');
    font-size: 16px;
    font-family: Lato Semibold, Lato, sans-serif;
    font-style: italic; 
}

#principal {
    border: 1px solid;
    width: 1280px;
}

#conteudo{
    background-color: #e8e8d9;
    padding:10px;
    text-align: justify;
}

.titulo{
    text-align: center;
    color: #828271
}

#menu{
    background-color: #c5c5b2;
    padding: 18px;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}



.imgcampanha{
    border: 10px solid;
    border-color: #c3c3ae;
    
}


